@model InquirySpark.Repository.Database.QuestionGroupMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionGroupMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionGroup.QuestionGroupNm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionGroupMemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
