@model InquirySpark.Repository.Database.Survey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseQuestionGroupsFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseQuestionGroupsFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyShortNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyShortNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseNmtemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseNmtemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerAccountNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerAccountNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoAssignFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoAssignFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSurveyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyType.SurveyTypeNm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SurveyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
