@model IEnumerable<InquirySpark.Repository.Database.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UseQuestionGroupsFl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyShortNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyDs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseNmtemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerAccountNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoAssignFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentSurveyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UseQuestionGroupsFl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyNm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyShortNm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyDs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseNmtemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerAccountNm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoAssignFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSurveyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyType.SurveyTypeNm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurveyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurveyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurveyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
