@model InquirySpark.Repository.Database.LuSurveyResponseStatus

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LuSurveyResponseStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatusId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
