@model InquirySpark.Repository.Database.LuSurveyResponseStatus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LuSurveyResponseStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
