@model InquirySpark.Repository.Database.LuSurveyType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LuSurveyType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTypeShortNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTypeShortNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTypeNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTypeNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTypeDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTypeDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTypeComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTypeComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSurveyTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSurveyTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutiSequenceFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutiSequenceFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SurveyTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
