@model InquirySpark.Repository.Database.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionShortNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionShortNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewRoleLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewRoleLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionType.AnswerDataType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyType.SurveyTypeNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasure.UnitOfMeasureNm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
