@model InquirySpark.Repository.Database.SurveyEmailTemplate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SurveyEmailTemplate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyEmailTemplateNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyEmailTemplateNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilterCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilterCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendToSupervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendToSupervisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.CompletionMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SurveyEmailTemplateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
