@model InquirySpark.Repository.Database.QuestionAnswer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswerSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswerSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswerShortNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswerShortNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswerNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswerNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswerValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswerValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionAnswerDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionAnswerDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionDs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionAnswerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
