@model IEnumerable<InquirySpark.Repository.Database.ApplicationSurvey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationCd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultRole.RoleCd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survey.CompletionMessage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationSurveyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationSurveyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationSurveyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
