@model InquirySpark.Repository.Database.ApplicationUserRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationUserRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDemo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDemo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMonthlyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMonthlyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInRolled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInRolled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUserAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUserAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicationCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.AccountNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleCd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationUserRoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
