@model InquirySpark.Repository.Database.Role

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateFl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateFl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
