@model InquirySpark.Repository.Database.LuQuestionType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LuQuestionType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTypeCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionTypeCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTypeDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionTypeDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDataType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerDataType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
