@model InquirySpark.Repository.Database.LuUnitOfMeasure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LuUnitOfMeasure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasureNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasureNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasureDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasureDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnitOfMeasureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
