@model IEnumerable<InquirySpark.Repository.Database.LuUnitOfMeasure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitOfMeasureNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOfMeasureDs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasureNm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasureDs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitOfMeasureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitOfMeasureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitOfMeasureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
